.header__user-bar {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 24px;
}

@media screen and (max-width: 600px) {
    .header__user-bar {
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-right: 24px;
    }
}