.elements__image {
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    height: 282px;
    width: 282px;
    border-style: none;
    display: block;
    cursor: pointer;

    background-color: #000;
    text-decoration: #fff;

}