.profile__edit-button {
    padding: 0;
    margin: 6px 0 0 18px;
    width: 24px;
    height: 24px;
    background-image: url(../../../images/edit-button-web.svg);
    background-color: transparent;
    border: solid 1px #fff;
    border-style: none;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 680px) {
    .profile__edit-button {
        margin: 1px 0 0 10px;
        width: 18px;
        height: 18px;
        background: url(../../../images/edit-button-mobile.svg);
    }
}