.elements__trash-button {
    background-image: url(../../../images/trash.svg);
    width: 18px;
    height: 19.3px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    object-fit: cover;
    background-repeat: no-repeat;
    border-style: none;
    padding: 0;
    background-color: transparent;
}

.elements__trash-button:hover {
    opacity: 0.6;
}