.authorize__image {
    padding: 0;
    margin: 60px auto 32px;
    width: 120px;
    height: 120px;
    display: block
}

@media screen and (max-width: 360px) {
    .authorize__image {
        margin: 50px auto 40px;
        
    }
}
